body {
    background-color: #f4f4f4;
    color: #212121;
}

.article {
    border: 1px solid grey;
    margin: 5px 5px 5px 0;
}

.High {
    border-left: 10px solid rgba(256, 0, 0, 0.3);
}

.Medium {
    border-left: 10px solid rgba(0, 0, 256, 0.3);
}

.Low {
    border-left: 10px solid rgba(0, 256, 0, 0.3);
}

.Done {
    border-left: 10px solid rgba(120, 120, 120, 0.3);
}

.radioItem {
    cursor: pointer;
    user-select: none;
    padding: 5px;
}

.radioButtons {
    border-radius: 2px;
    margin: 5px;
}

.carsItem {
    cursor: pointer;
}

.carsList {
    margin: 5px;
    padding: 5px;
}

.browser {
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
}
.browser:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    color: #a00;
    text-decoration: none;
}

.webPage {
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    display: block;
}

.margin10 {
    margin: 10px;
}

@media (max-width: 992px) {
    .cardBlock {
        margin-left: 10px;
    }
    .cardBlock:first-child {
        margin-left: 0;
    }
}

.signUpBtn {
    margin-top: 13px;
}

.regMenu {
    display: flex;
    justify-content: center;
}

.errorMessage {
    color: red;
    font-size: 0.7rem;
    margin-top: -16px;
}

.wrapper {
    margin-top: 80px;
}

.navLink {
    color: #212121;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.navLink:hover {
    color: #8ac858;
}

.addIcon {
    margin: 0 10px 0 0;
    transition: transform 0.5s;
}

.add-new-article:hover .addIcon {
    transform: rotate(270deg);
}